Customer Code
<input [(ngModel)]="CustomerModel.CustomerCode" type="text" />
Customer Name
<input [(ngModel)]="CustomerModel.CustomerName" type="text" />
Customer Amount
<input [(ngModel)]="CustomerModel.CustomerAmount" type="text" />
<input type="button" value="Add Customer" (click)="Add()" />

<!--
 ()=>event binding
 []=>property binding
 [()]=>2 way bindings

-->

<!-- {{CustomerModel.CustomerName}} -->

<img [src]="imageURL" />

<table>
    <tr>
        <td>Customer Code</td>
        <td>Customer Name</td>
        <td>Customer Amount</td>
    </tr>
    <tr *ngFor="let cust of CustomerModels">
        <td>{{cust.CustomerCode}}</td>
        <td>{{cust.CustomerName}}</td>
        <td>{{cust.CustomerAmount}}</td>
    </tr>
</table>