<!-- <table border="1">
    <tr>
        <td><a [routerLink]="['home']">Home</a></td>
        <td><a [routerLink]="['customer/add']">Customer</a></td>
        <td><a [routerLink]="['supplier/add']">Supplier</a></td>
    </tr>
</table>

 -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Customer APP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" *ngIf="LoggedIn(false)" [routerLink]="['login']">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  *ngIf="LoggedIn(false)"  [routerLink]="['register']">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="LoggedIn(true)" [routerLink]="['customer/add']">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="LoggedIn(true)" [routerLink]="['supplier/add']">Supplier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor:pointer" *ngIf="LoggedIn(true)" (click)="Logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <router-outlet></router-outlet>
</div>