<h1>Add Customer</h1>
Customer Code
<input [(ngModel)]="CustomerModel.CustomerCode" type="text" /><br/><br/>
Customer Name
<input [(ngModel)]="CustomerModel.CustomerName" type="text" /><br/><br/>
Customer Amount
<input [(ngModel)]="CustomerModel.CustomerAmount" type="number" /><br/><br/>
<input type="button" value="Add Customer" (click)="Add()" />
<br/><br/>
<h2>Customer List</h2>

<input type="button" (click)="DeleteCustomer()" value="delete" />
<!--
 ()=>event binding
 []=>property binding
 [()]=>2 way bindings

-->

<!-- {{CustomerModel.CustomerName}} -->

<!-- <img [src]="imageURL" /> -->
<!-- 
<table>
    <tr>
        <td>Customer Code</td>
        <td>Customer Name</td>
        <td>Customer Amount</td>
        <td>Actions</td>
    </tr>
    <tr *ngFor="let cust of CustomerModels">
        <td>{{cust.CustomerCode}}</td>
        <td>{{cust.CustomerName}}</td>
        <td>{{cust.CustomerAmount}}</td>
    </tr>
</table> -->

<app-grid-ui  [grid-columns]="[{'colName':'id'},{'colName':'CustomerCode'},{'colName':'CustomerName'},{'colName':'CustomerAmount'}]"
[grid-data]="CustomerModels" 
(grid-selected)="EditCustomer($event)"
></app-grid-ui>